@keyframes animation-square {
    0% {
        background-color: var(--color-sandy);
    }
    50% {
        background-color: var(--color-sandy);
    }
    100% {
        background-color: var(--color-red);
    }
}

@keyframes second-animation {
    0% {
        background-color: var(--color-sandy);
    }
    50% {
        background-color: var(--color-sandy);
    }
    100% {
        background-color: var(--color-red);
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-dark);
    color: var(--color-sandy);
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: 40px repeat(3, 120px) 35px;
    gap: 5px;
}

.square-top {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-smooth-dark);
    border-radius: 3px;
    color: var(--color-sandy);
}

.square_1 {
    grid-column-start: 1;
}

.square_2 {
    grid-column-end: 4;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-red);
    border-radius: 7px;
    transition: ease-in-out 0.2s;
}

.square span {
    font-size: 4rem;
    visibility: hidden;
    opacity: 0;
}

.square:hover {
    background-color: orange;
}

/* animation */

.grid .activated-square {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-red);
    border-radius: 7px;

    animation: animation-square;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.grid .activated-square:nth-child(3) {
    animation-delay: 0s;
}

.grid .activated-square:nth-child(4) {
    animation-delay: 0.2s;
}

.grid .activated-square:nth-child(5) {
    animation-delay: 0.4s;
}

.grid .activated-square:nth-child(6) {
    animation-delay: 0.6s;
}

.grid .activated-square:nth-child(7) {
    animation-delay: 0.8s;
}

.grid .activated-square:nth-child(8) {
    animation-delay: 1.0s;
}

.grid .activated-square:nth-child(9) {
    animation-delay: 1.2s;
}

.grid .activated-square:nth-child(10) {
    animation-delay: 1.4s;
}

.grid .activated-square:nth-child(11) {
    animation-delay: 1.6s;
}

.activated-square span:nth-child(1) {
    font-size: 4rem;
    opacity: 1;
}

.grid .activated-squaretwo {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color-red);
    border-radius: 7px;

    animation: second-animation;
    animation-duration: 0.3s;
    animation-iteration-count: 6;
    animation-direction: alternate;
    animation-timing-function: ease;
}

.grid .activated-squaretwo:nth-child(7) {
    animation-delay: 0s;
}

.grid .activated-squaretwo:nth-child(8) {
    animation-delay: 0.2s;
}

.grid .activated-squaretwo:nth-child(9) {
    animation-delay: 0.4s;
}

.button {
    font-weight: 600;
    color: var(--color-sandy);
    background-color: var(--color-smooth-dark);
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: var(--color-white);
}