:root {
  font-family: Arial, sans-serif;
  font-weight: 400;

  --color-333: #333;
  --color-424242: #424242;
  --color-444: #444;
  --color-square: #2c3239;
  --color-lightcyan: rgba(157,255,255, 0.2);
  --color-dark: #1f1f1f;
  --color-lightgreen: #009688;
  --color-darkred: #8b0000;
  --color-red: #ff0000;
  --color-sandy: #f4a460;
  --color-orange: #ffa500;
  --color-white: #f5f5f5;

  -moz-osx-font-smoothing: grayscale;
}
